<section class="slide"><div class="section-body"><header><div class="header-body"><h1>Software Engineering <img src="Images/STG-logo.jpg" title="Software Technology Group" style="float:right"></h1>
<h2>Design &amp;  Construction</h2>
</div></header>
<hr />
<p><strong>Winter Semester 2013/2014</strong></p>
<p><strong>Department of Computer Science</strong><br />
<strong>Technische Universität Darmstadt</strong></p>
<p>Dr. Michael Eichberg</p>
</div></section>
<h2>Content</h2>
<p>The goal of this lecture is to teach you fundamental software design principles that will foster your understanding of the intricacy when designing and developing software. It will help you to become a better software engineer. </p>
<section class="slide" data-title="Main Topics"><div class="section-body"><h1>Main Topics</h1>
<ul>
<li>Understanding Software Design and Development</li>
<li>Software Design Principles</li>
<li>Software Design Patterns</li>
<li>Advanced Programming Language Features</li>
</ul>
</div></section>
<section class="slide" data-title="Goals of the Lecture"><div class="section-body"><h1>Goals of the Lecture (Learning Outcomes)</h1>
<ul>
<li>To be able to produce “good” designs; i.e. to produce code that is, e.g., reusable, maintainable, comprehensible, ...</li>
<li>To learn to judge the design of existing pieces of software</li>
<li>To get familiar with advanced programming language features and to learn when to apply them</li>
<li>To get a deeper and thorough understanding of design patterns</li>
<li>To understand the relation between software design and programming languages/<br />
  To understand why improvements of programming languages are important/<br />
  To understand programming language concepts w.r.t. supporting high-level design</li>
</ul>
</div></section>
<p>After successfully completing this lecture you should be able to develop software that is well designed and which uses (advanced) programming language features to support the design.</p>
<h1>Organization</h1>
<h2>Exam</h2>
<section class="slide" data-title="Organization"><div class="section-body"><h1>Organization</h1>
<h2>Exam</h2>
<ul>
<li>We will have a <strong>written exam</strong> on <strong>February 18th, 2014</strong>.<br />
  The exam will start at <strong>2:00pm</strong> and will last 90 minutes.<br />
  The exam will be <strong>in S206/030</strong>.</li>
<li>It will be an open-book exam.</li>
</ul>
</div></section>
<p>The exam will take 90 minutes and will be an open book exam; i.e., you are allowed to use any written material, but no electronic devices.</p>
<p>To get an idea how an exam could look like take a look at this <a href="OldExam.pdf">Old Exam</a>. Please note, that we are currently moving the whole lecture towards Scala and, therefore, this year&apos;s exam may have a stronger Scala focus. Furthermore, material that was included in the old exam, but which is not taught as part of this year&apos;s lecture will not be part of the exam. </p>
<h2>Exercise and Bonus</h2>
<section class="slide"><div class="section-body"><h1>Organization</h1>
<h2>Exercise</h2>
<ul>
<li>We will have between 10 and 12 Exercises.</li>
<li>By doing the exercises you can get a bonus for the exam.<br />
  <img src="Images/BonusSystem.png" title="Visualization of the Bonus System"></li>
</ul>
</div></section>
<p>We will have one exercise per week (starting with the second week) and doing the exercises is highly recommended. The exercises are considered to be an essential part of this lecture and will help you to foster your understanding of software design (principles).
The programming languages that are used for the exercises and for the lecture is Java 7 and Scala 2.10 (<a href="http://www.scala-lang.org">http://www.scala-lang.org</a>).<br /></p>
<p>The content of the exercise is relevant for the final exam. </p>
<p>The exercises are organized by <strong>Sven Amann</strong> and <strong>Dr. Ingo Maier</strong> and are supported by tutors.</p>
<p>By successfully completing the exercise, you can get a maximum bonus that is equal to one full grade. You need to get at least 30% of all possible exercise points to get some bonus. I.e., just completing one exercise is not sufficient. To get the full bonus, you just need to get at least 90% of all possible exercise points. The maximum bonus is equivalent to one full grade.</p>
<p><em>The bonus cannot be used to pass the exam.</em></p>
<p>This bonus system complies with the regulations defined in the &quot;4. Novelle der APB §25(2) vom 2.10.2012&quot;.</p>
