<h1>Class Design Principles</h1>
<h2>About Class Design Principles</h2>
<section class="slide" data-title="Class Design Principles"><div class="section-body"><h1>Class Design Principles …</h1>
<ul>
<li><p>state desired properties of class designs.</p>
</li>
<li><p>are heuristics.</p>
</li>
<li><p>help making a class design usable for client classes.</p>
</li>
</ul>
</div></section>
<p>Class Design Principles ...</p>
<ul>
<li>state desired properties of class designs. E.g. “A class should have only one responsibility.”</li>
<li>are heuristics that serve as guidelines to produce good designs.</li>
<li>are not absolute criteria to judge about the quality of designs.</li>
<li>help making a class design usable for client classes. We think about how our classes are used by other classes.</li>
</ul>
<section class="slide" data-title="S.O.L.I.D."><div class="section-body"><div class="statement">Class Design Principles aim for code we can efficiently work on!</div>
<p>The S.O.L.I.D. Principles:</p>
<ul>
<li><strong>S</strong>ingle Responsibility Principle (<strong>S</strong>RP)</li>
<li><strong>O</strong>pen-closed Principle (<strong>O</strong>CP)</li>
<li><strong>L</strong>iskov Substitution Principle (<strong>L</strong>SP)</li>
<li><strong>I</strong>nterface Segregation Principle (<strong>I</strong>SP)</li>
<li><strong>D</strong>ependency Inversion Principle (<strong>D</strong>IP)</li>
</ul>
</div></section>
<p>During its lifetime of a software the (class) design changes constantly. This is a consequence of requirement changes which is the rationale for conducting an iterative design process.</p>
<p>Class Design Principles are not only about the current state of the code, but also give you an understanding of how well the code will be under the effect of change. Especially whether and how changes will affect client classes.<br /></p>
