
/*
   Copyright 2012 Michael Eichberg et al - www.michael-eichberg.de

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 */

@import "LectureDoc-Globals.less";

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100%{opacity:1;}
}

@-webkit-keyframes dissolve {
	0% {opacity:1;}
	100%{opacity:0;}
}

@-webkit-keyframes slideOutRight {
	0% {
		-webkit-transform:translate3d(0px,0px,0px);
	}
	100% {
		-webkit-transform:translate3d((@slide-width),0px,0px);
	}
}

@-webkit-keyframes slideOutDown {
	0%   {
		-webkit-transform:translate3d(0px,0px,0px);
	}
	100% {
		-webkit-transform:translate3d(0px,(@slide-height),0px);
	}
}

@-webkit-keyframes slideOutLeft {
	0%   {
		-webkit-transform:translate3d(0px,0px,0px);
	}
	100% {
		-webkit-transform:translate3d((-@slide-width),0px,0px);
	}
}

@-webkit-keyframes slideOutUp {
	0%   {
		-webkit-transform:translate3d(0px,0px,0px);
	}
	100% {
		-webkit-transform:translate3d(0px,-(@slide-height),0px);
	}
}

@keyframes fadeIn {
	0% {opacity:0;}
	100%{opacity:1;}
}

@keyframes dissolve {
	0% {opacity:1;}
	100%{opacity:0;}
}

@keyframes slideOutRight {
	0% {
		transform:translate3d(0px,0px,0px);
	}
	100% {
		transform:translate3d((@slide-width),0px,0px);
	}
}

@keyframes slideOutDown {
	0%   {
		transform:translate3d(0px,0px,0px);
	}
	100% {
		transform:translate3d(0px,(@slide-height),0px);
	}
}

@keyframes slideOutLeft {
	0%   {
		transform:translate3d(0px,0px,0px);
	}
	100% {
		transform:translate3d((-@slide-width),0px,0px);
	}
}

@keyframes slideOutUp {
	0%   {
		transform:translate3d(0px,0px,0px);
	}
	100% {
		transform:translate3d(0px,-(@slide-height),0px);
	}
}
