/* The menu bar itself */

@import "LectureDoc-Globals.less";
@import "utils/LectureDoc-Mixins.less";

#ldjs-menubar {
	position: fixed;
	height: 50px;
	left: 0px;
	right: 0px;
	bottom: -51px;
	background-color: rgba(255, 255, 255, 1);
	transition: bottom 0.5s;
	-webkit-transition: bottom 0.5s;
	padding-right: 56px;
	z-index: 190;
	border-top: 1px solid #ccc;

	&.presentation-window {
		background-color: #828282;
		> .separator {
			border-right: 1px solid #828282;
		}
	}

	&.visible {
		bottom: 0;
	}

	> .separator {
		border-right: 1px solid #ccc;
		height: 100%;

		&.right {
			float: right;
		}

		&.left {
			float: left;
		}
	}

	> a, > .ldjs-menubar-submenu li > a {
		color: #1A1A1A;
		display: none;
		padding: 0;
		margin: 2px 5px;
		outline: none;
		cursor: pointer;

		&.visible {
			display: block;
		}

		&:hover {
			background-color: #ccc;
		}

		&:active, &.active {
			background-color: #ccc;
			box-shadow: 1px 1px 3px #888 inset;
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		&.disabled:hover {
			background-color: inherit;
			box-shadow: none;
			border-radius: 0;
		}

		&.ldjs-menubar-icon-button {
			height: 46px;
			width: 46px;
			background-size: 40px 40px;
			background-position: 3px 3px;
			background-repeat: no-repeat;
		}
	}

	>a {
		&,&.right {
			float: right;
		}

		&.left {
			float: left;
		}
	}

	> #ldjs-menubar-button-toggle-menubar {
		opacity: 1;
		position: fixed;
		right: 0px;
		bottom: 0px;
		background-color: white;
		margin: 0;
		width: 56px;
		height: 46px;
		padding: 2px 0px;
		transition: transform 0.5s, opacity 0.5s;
		-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;

		&:hover {
			background-color: #ccc;
		}

		&:active {
			background-color: #ccc;
			box-shadow: 1px 1px 3px #888 inset;
		}
	}

	#ldjs-menubar-button-toggle-submenu-asides {
		float: none;
		position: fixed;
		right: 56px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}

	.ldjs-menubar-submenu {
		position: absolute;
		bottom: 51px;
		border: 1px solid #ccc;
		border-bottom: none;
		border-radius: 4px 4px 0 0;
		background-color: rgba(255, 255, 255, 1);
		white-space: nowrap;
		padding: 5px;
		margin-bottom: 0;
		max-height: 500px;
		max-width: 800px;
		z-index: -1;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		transition: visibility 0s linear 0.5s, opacity 0.5s linear;
		-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;

		&.visible {
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
			-webkit-transition-delay: 0s;
		}

		header {
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
			border-bottom: 1px solid #ccc;
		}

		.ldjs-menubar-submenu-buttons {
			max-height: 450px;
			max-width: 800px;
			padding-right: 15px;
			overflow: auto;
			list-style-position: outside;
			> .nested {
				margin-top: 16px;
			}
		}

		ul {
			list-style-type: none;
			margin-left: 0;
			padding-left: 0;
		}

		ol {
			list-style-type: decimal;
		}

		li {
			display: list-item;
			float: none;
			padding: 0px 5px;
			line-height: 25px;
			a {
				display: block;
				max-width: 790px;
				font-size: 16px;
				font-family: Sans-Serif;
				font-weight: bold;
				padding: 0px 8px 0px 8px;
				margin-bottom: 0;
			}
		}

		> ol.nested {
			padding-left: 0px;
		}

		ol.nested {
			list-style-type: none;
			counter-reset: item;
			margin: 0px 0px 5px 0px;
		}

		li.nested {
			display: block;
			float: none;
			padding: 0px 0px;
			margin: 0px 0px 5px 0px;
			line-height:20px;
			a:before {
				content: counters(item, ".") " ";
				counter-increment: item;
				float: left;
				margin-right: 1em;
				position: relative;
				min-width: 2em;
			}
		}
	}

	#ldjs-menubar-submenu-zoom {
		width: 6em;
	}

	#ldjs-menubar-submenu-asides {
		bottom: 50px;
		position: fixed;
	}

	#ldjs-menubar-submenu-key-slides {
		a.current {
			border-bottom: 3px solid #ccc;
		}
	}

	#ldjs-menubar-submenu-table-of-contents {
		a.current {
			border-bottom: 3px solid #ccc;
		}
	}

	#ldjs-menubar-submenu-scrolling-overview {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 51px;
		height: 146px;
		min-width: 1024px;
		max-width: 100%;
		white-space: normal;
		border-radius: 0;
		border: none;
		padding: 0;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear 0.5s, opacity 0.5s linear;
		-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
		overflow: hidden;

		&.visible {
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
			-webkit-transition-delay: 0s;
		}

		> #current-slide-highlight {
			border: 7px solid rgba(0, 0, 0, 0.7);
			width: 179px;
			height: 132px;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 0;
			left: 0;
		}

		> section.slide {
			position: absolute;
			bottom: 0;
			border: 1px solid #ccc;
			border-bottom: none;
			border-right: none;
			margin: 0;
			padding: 0;
			width: 192px;
			height: 144px;
			background: white;
			pointer-events: none;
			cursor: pointer;

			&:nth-last-child(2) {
				/* can't use last-child because highlight div follows */
				border-right: 1px solid #ccc;
			}

			> div.section-body {
				transform: scale(0.1875, 0.1875);
				transform-origin: 0 0;
				-webkit-transform: scale(0.1875, 0.1875);
				-webkit-transform-origin: 0 0;
			}
		}
	}
}

body.ldjs-slide #ldjs-menubar {
	padding-right: 112px;

	#ldjs-menubar-button-toggle-menubar {
		opacity: 1;

		&:hover {
			div.ldjs-slide-number.dimmed {
				background: none;
				color: #888;
			}
		}

		div.ldjs-slide-number {
			padding: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;

			p {
				padding: 0;
				margin: 0;
				font-size: 25px;
				text-align: center;
				line-height: 50px;
			}

			&.dimmed {
				background: black;
				color: #555;
			}
		}
	}

	&.visible {
		#ldjs-menubar-button-toggle-menubar {
			opacity: 1;
		}

		#ldjs-menubar-button-toggle-submenu-asides {
			&.disabled {
				bottom: 0px;
			}

			&:not(.disabled) {
				opacity: 1;
			}
		}
	}

	#ldjs-menubar-button-toggle-submenu-asides {
		&.disabled {
			bottom: -50px;
		}

		&:not(.disabled) {
			bottom: 0;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}
}

html body:not([class*="ldjs-slide"]) div#body-content {
	margin-bottom: 51px;
}

@media print {
	#ldjs-menubar {
		visibility: hidden;
	}
}

