/*
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

	 http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 */

@import "../LectureDoc-Globals.less";
@import "../utils/LectureDoc-Mixins.less";

@document-border: 1px solid #ccc;

html {
	body:not([class *= "ldjs-"]) {
		div#body-content {
			width: (@slide-width * @document-slide-ratio);
			margin: auto;
			padding: 8px;
			border-left: @document-border;
			border-right: @document-border;

			section.slide {
				width: (@slide-width * @document-slide-ratio);
				height: (@slide-height * @document-slide-ratio);
				margin: 0 0 10px;

				> div.section-body {
					.transform-origin(0 0);
					.scale(@document-slide-ratio);
				}
			}
		}

		.note {
			border-radius: 0;
			background: inherit;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			padding: 0.3em 1em;
			border-left: 5px solid yellow;
			margin-bottom: 1em;
			display:none;
			visibility: hidden;

			&.visible {
				display:block;
				visibility: visible;
			}
		}

		aside {
			border-radius: 0;
			background: inherit;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			padding: 0.3em 1em;
			border-left: 5px solid #44d;
		}
	}
}

@media print {
	html {
		body:not([class *= "ldjs-"]) {
			width: 804px;
			margin: 0 auto;

			div#body-content {
				border: 0;
				padding: 0;
				margin: 0;
				> h1 , > h2 , > h3 , > h4 , > h5 , > h6 {
					page-break-before: always;
				}
				> h1:first-child, > h2:first-child, > h3:first-child,
				> h4:first-child, > h5:first-child, > h6:first-child {
					page-break-before: avoid;
				}

				section.slide {
					page-break-inside: avoid;
				}
			}
		}
	}
}
