section.slide{border:1px solid #ccc;margin:0px auto;width:1024px;height:768px;-webkit-user-select:none;-moz-user-select:none;-webkit-touch-callout:none;-moz-touch-callout:none;}section.slide>div.section-body{font-size:1.5em;position:relative;background-color:white;padding:10px;width:1004px;height:748px;overflow:hidden;background:#ffffff;}section.slide>div.section-body .note{display:none;}
section.slide>div.section-body>footer{font-size:0.75em;position:absolute;display:block;bottom:0em;width:1004px;border-top:1px solid;}
section.slide>div.section-body>aside{position:absolute;top:30px;max-height:600px;overflow:auto;display:none;width:890px;}section.slide>div.section-body>aside .aside-body{max-height:500px;}
section.slide>div.section-body>nav{bottom:5px;margin:0 20px;position:absolute;}
[data-animation-step].hidden{visibility:hidden;}
@media print{html body.ldjs-slide{background-color:white;margin:0;padding:0;min-width:0;min-height:0;width:auto;height:768px;border:1px solid white;}html body.ldjs-slide section.slide{display:none;}html body.ldjs-slide section.slide.current{display:block;position:static;margin:0 auto;}html body.ldjs-slide section.slide.current div.ldjs-slide-number{display:block;}}
