@namespace "http://www.w3.org/1999/xhtml";

@namespace svg "http://www.w3.org/2000/svg";


pre code{

display: flex;
padding: 1.5em;
background: #F0F0F0;
border-radius: 15px;
white-space: pre-wrap;
}
font[data-formatting="whitespace"]{
background-color: #FFFFCC;
}
pre[data-formatting="defaultbackground"] code{
width: 48%;
background: #F0F0F0;
}
pre[data-formatting="syntaxbackground"] code{
width: 48%;
background: #D3D3D3
}
li{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
li[data-formatting="smallersize"]{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
font-size:1.0em;margin-bottom:0.225em;line-height:1.0em;
}
h1[data-formatting="markdownguide_h1"]{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
line-height: 1em;
color: #555555;
font-weight:bold;
text-shadow:0px 0px 0 rgb(202,202,202),1px 1px 0 rgb(158,158,158), 2px 2px 0 rgb(115,115,115),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}
h1[data-formatting="markdownguide_h3"]{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
font-size:1.25em;
line-height: 1em;
color: #ffffff;
font-weight:bold;
text-shadow:0px 0px 0 rgb(202,202,202),1px 1px 0 rgb(158,158,158), 2px 2px 0 rgb(115,115,115),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}
h2[data-formatting="markdownguide_h2"]{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
line-height: 1em;
color: #ffffff;
font-weight:bold;
text-shadow:0px 0px 0 rgb(202,202,202),1px 1px 0 rgb(158,158,158), 2px 2px 0 rgb(115,115,115),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}
h2[data-formatting="markdownguide_h4"]{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
font-size:1.125em;
line-height: 1em;
color: #ffffff;
font-weight:bold;
text-shadow:0px 0px 0 rgb(202,202,202),1px 1px 0 rgb(158,158,158), 2px 2px 0 rgb(115,115,115),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);

}
h3[data-formatting="markdownguide_h3"]{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
line-height: 1em;
color: #ffffff;
font-weight:bold;
text-shadow:0px 0px 0 rgb(202,202,202),1px 1px 0 rgb(158,158,158), 2px 2px 0 rgb(115,115,115),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}
h4[data-formatting="markdownguide_h4"]{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
line-height: 1em;
color: #ffffff;
font-weight:bold;
text-shadow:0px 0px 0 rgb(202,202,202),1px 1px 0 rgb(158,158,158), 2px 2px 0 rgb(115,115,115),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}
p{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
p[data-formatting="no_margin"]{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
margin: 0.775em 0;}
}
h1,h2,h3,h4,h5,h6{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
body.ldjs-lecture-notes {
background-color: #ccc;
}

body.ldjs-slide>#body-content>.slide{
background-color:white;
}

section.slide>div.section-body {
background: none;
}

body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-subsection {
margin-bottom: 0em;
}

body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-content {
border-top: 0px solid #ccc;
}

section.slide {
border: 0px solid #ccc;
}

.hljs {
background: rgba(166, 230, 255, 0.7);
}

body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-sidebar {
float: right;
width: 50%;
overflow: hidden;
padding-left: 1em;
}

body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-sidebar section.slide {
background-image:url(backgrounds/slidetexture.jpg);
height: 260px;
width: 100%;
}


body.ldjs-lecture-notes {
background-color: #FFFFFF;

}

iframe {
width: 1024px;
height: 768px;
left: -305px;
top: -230px;
position: relative;
transform: scale(0.4, 0.4);
-ms-transform: scale(0.4, 0.4);
-webkit-transform: scale(0.4, 0.4);
-moz-transform: scale(0.4, 0.4);

}

#wrap { width: 300px; height: 60px; padding: 0;}
